body{
     background:url(bg\ image.png) no-repeat center/cover;
     height: 5px;
     margin: 0;
}
.container{
    display:flex;
    flex-wrap: wrap;
    background-color: peachpuff;
    width: 100%;  
    gap: 20px; 
    
    align-items: center; 

}

h1{
    text-align: center;
    margin-top: 7px;
    color: white;
}
.menu{
    position: absolute;
    top: 7%;
    left: 39%;
    font-size: 25px;
    display: flex;
    gap: 18px;
    
}
a{
    color: rgb(242, 236, 236);
    text-decoration: none;
    
}
a:hover{
    color:blue;
}
.footer{
    margin-top: 1275px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: peachpuff;
    font-size: 23px;
     
}
.address{
    text-align: center;
    position: absolute;
    left: 40%;
    margin-top: 500px;
    font-size: 20px;
    width: 300px; 
    color:white;  

}