body{
     background-color: peachpuff;
     height: 100%;
     margin: 0;
}
.container{
    display:flex;
    flex-wrap: wrap;
    background:url(bg\ image.png) no-repeat center/cover;
    width: 100%;  

}
.name{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 5%;
    margin-top: 90px;
    
      
}
.menu{
    position: absolute;
    left: 75%;
    margin-top: 160px;
    font-size: 18px;
    display: flex;
    gap: 20px;
    
}
a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    color:blue;
}

.footer{
    margin-top: 790px;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: peachpuff;
    font-size: 23px;
     
}
.pic
{
    width: 1500px;
    height: 550px;
    margin-top: 120px;
    background: url(bg\ image.png) no-repeat center/cover;
    position: absolute;
}
.pic {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 250px;
}

.pic img {
    width: 500px;        
    height: 500px;      
    border-radius: 10px;
}

.txt{
     color: white;
     font-size: 32px;
     position: absolute;
     left: 5%;
     margin-top: 150px;
    -webkit-text-stroke: 2px black;
}